.coluna{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    
}

.coluna figure{
    width: 300px;
    height: 400px;
    border: 2px solid black;
    padding: 20px;
    border-radius: 20px;
    
}

.coluna img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    border: 1px solid black;

}

.coluna h3{
    margin: 20px;
}

.coluna a{
    border: 1px solid black;
    border-radius: 22px;
    padding: 10px 30px ;
    background-color: #D96523;
    color: white;
    text-decoration: none;

}


