#navegador{
    text-align: center;
}
body{
    background-color: #FF8A00;
    
}

.icon-nav{
    width: 55px;
}
.icon-lupa{
    width: 70px;
}
.menu-icones{
    list-style-type: none;
    display: flex;
}
.logo-foodfinder{
    width: 250px;
}

h1{
    font-size: 45px;
    color: #FFFFFF;
}
#histórico-compras{
    display: flex;
    text-align: center;

}
.bloco{
    color: #FFFFFF;
    background-color: #D96523;
    padding: 35px 60px;
    border-radius: 5px; /*deixa a borda arredondada*/
    width: fit-content; /*ajusta a largura*/

}