body{
    background-color: #F2A305;;
}

.foto-usuario{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 100%;

}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.btn-editar a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 15px;
}
.btn-editar li{
    list-style: none;
}
.foto_usuario{
    margin: 20px 0px;
}
.formulario-campo{
    margin-bottom: 20px;
    width: 800;
}
