@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: "EB Garamond", serif;
}
/* estilizando o carrossel */
.slide{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}
.carrossel{
    width: 400%;
    height: 400px;
    display: flex;
}
.carrossel input{
    /* ocultando os input */
    display: none;
}

.carrossel-imagem{
    width: 25%;
    position: relative;
}
.carrossel-imagem img{
    width: 800px;
}
/* estilizando os input */
.manual-navegacao{
    position:absolute;
    width: 800px;
    margin-top:-40px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid white ;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

/* O TAMANHO DAS FOTOS ONDE FICA AS COMIDAS COM O BOTÃO DE VER MAIS */
.foto{  
    width: 250px;  
    height: 250px;
}
/* A PARTIR DA AGORA COMEÇA AS LINHAS E COLUNAS DAS OPÇÕES DE COMIDA */
.opcoes-comidas{
    align-items: center;
}
.row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 25px
}
/* o caminho é a linha row onde dentro tem as divs que são as colunas, colocamos a borda e espaçamento da margem de 10 px  */
.row>div{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
}

figure a{
    padding:  10px;
    border-radius: 15px;
    background-color:#D96523;
    color: white;
    text-decoration: none;

}
.btn-vermais a{
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 0px;
    padding: 10px;
    background-color: #D96523;
    color: white;
    text-decoration: none;
}
/* botão ver mais alinhar para ficar mais no centro */
ul.btn-vermais{
    margin: 30px 10px;
    padding: 0px 60px;
    list-style: none;
}
