*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

body{
    margin: 0; 
    width: 100%;
    height: 100%;
    background: url(../Fotos/pagina_login/Fundo.png) no-repeat;
    background-size: cover;
    background-position:center;
    background-color: #FF8A00;
}


.foco, .formulario_login, .formulario_cadastro{
    width: 585px;
    height: 570px;
    border-radius: 27px;

}

.foco{
    position:absolute;
    top: 102px;
    right: 215px;

}

.formulario_login, .formulario_cadastro{
    text-align: center;
    background-color: #FFFFFF80;
    padding: 20px;  
}

#login main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

input, button, a{
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    padding:  5px;
}

/* @keyframes {
    from {
      transform: translateX(0%);
    }
  
    to {
      transform: translateX(100%);
    }
  } */
