@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html,body{
    height: 100%;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    
}
main{
    
    flex: 1; 
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    gap: 50px;
    
}


#carrinho-de-compras{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    


}
.container-painel-carrinho{
    text-align: center;
        border: 5px solid tomato; /* Borda sólida de 3px com a cor amarela */
        padding: 0px 0px 25px 0px; /* Espaçamento interno */
        margin: 10px 10px 10px 10px; /* Espaçamento externo */
        border-radius: 10px; /* Bordas arredondadas */
        height: 400px;
        width: 1000px;
        
        

}
.row-container{
    
    display: flex;
    justify-content: space-between;
    width: 1200px;
    /*background-color: tomato;*/
    align-items: center;
    gap: 10px;
    padding: 25px;
    
}
.container-titulo{
    background-color: tomato;

}


/*estilização titulo*/
h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    transition: color 0.3s ease, transform 0.3s ease;
    margin-top: 0;
}

h2:hover {
    
    transform: scale(1.1); /* Aumenta ligeiramente o título */
}
h2.total{
    color: black;
}
/*estilização imagem*/

.imagem-produto-carrinho{
    height: 200px;
    width: 250px;
    border-radius: 50%;
}

/*estilização descrição*/
.coluna2{
    text-align: left;
}
/*estilização botao*/


button{
    width: 200px;
    height: 60px;
    border-radius: 10px;
    color: white;
    background-color: tomato;
    border: none;

    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* Sombra simples */
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3); /* A sombra fica mais intensa quando passa o mouse */

}

/* estilização da mensagem quando apertar o botão de envio */

.hidden {
    display: none;
}
#mensagem {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;

}