@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    background: #FF8A00;
    font-family: "EB Garamond", serif;
}
header nav{
    padding: 10px 0;
    background-color: #FF8A00;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

ul.menu, ul.menu-icone{
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu li a, .menu-icone li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    
}

.menu li a:hover, .menu-icone li a:hover{
    background-color: black;
    color: #FF8A00;
}
#navegador{
    margin: 0px;  
    background-color:hwb(22 7% 49%); 
}

.carrossel{
    height: 613px;
    background: linear-gradient(rgba(17,17,15,0.404), rgba(34, 30, 4, 0.685)), url(../fotos/pagina_inicial/comida.jpg);
    background-size: cover;
}
.menu-categoria ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 122px;
    padding: 50px;
}
li, a{
    list-style: none;
    text-decoration: none;
}
.menu-categoria li a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 50px;
    width: 30px;
    background-color: #E3C00B;
    color: black;
}
/* O TAMANHO DAS FOTOS ONDE FICA AS COMIDAS COM O BOTÃO DE VER MAIS */
.foto{  
    width: 250px;  
    height: 250px;
}
/* A PARTIR DA AGORA COMEÇA AS LINHAS E COLUNAS DAS OPÇÕES DE COMIDA */
/* .row{
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-left: 64px;
    margin-right: 64px;

} */
/* o caminho é a linha row onde dentro tem as divs que são as colunas, colocamos a borda e espaçamento da margem de 10 px  */
.row>div{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10PX;
}

.comida{
    flex: 0;
    box-sizing: border-box;

}
.col-4{
    flex: 0 0 8.33%;
}
/* TERMINA AS LINHAS E COLUNHAS DA OPÇÕES DE COMIDA */

.comida h3{
margin: 0px 50px;
}
.comida li{
    margin: 36px 65px;
}
.btn-vermais a{
    border: 1px solid transparent;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    background-color: #D96523;
    color: white;
}
/* botão ver mais alinhar para ficar mais no centro */
ul.btn-vermais{
    margin: 30px 10px;
    padding: 0px 22px;
}
/* começa footer */
footer div{
    background-color: tomato;
}
footer section{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: tomato;
    
}
/* termina footer */
