@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


body {
    background-color: white;
     /* Garante que o gradiente ocupe toda a altura da página */
    
}

h2{
    font-size: 50px;
}

.container-tabela{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;/* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    margin: 20px;
    gap: 25 px;
    

}
table{

    
    width: 1200px;
    background-color: #F0F0F0;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    
}
table th, table td {
    border: 2px solid #ccc; 
    padding: 10px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1); /* Efeito de sombra nas células */
}

th{
    font-size: 20px;
}

td{
    padding: 10px;
    
}

th,td{
    text-align: center;
    
}


