@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
/*Header*/
header nav{
    padding: 10px 0;
    background-color: #FF8A00;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.logo{
    text-decoration: none;
    color: black;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

ul.menu-icone{
    list-style: none;
    display: flex;
    gap: 10px;
}

.menu-icone li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    
}

.menu-icone li a:hover{
    background-color: black;
    color: #FF8A00;
}

/*Navegação*/

#menu{
    background-color: #E3C00B;
    height: 70px;
    padding-top: 22px;
}

#menu .menu-texto{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.menu-texto li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
    background-color: tomato;
    

}

/*Principal*/

#principal{
    background-color:#F2A305 ;
    display: flex;

}

#principal .filtro{
    max-height: 260px;
    min-width: 175px;
    border: 4px solid #D96523;
    border-radius:10px;
    padding: 10px;
    margin: 10px;
}

#principal main.produtos{
    border: 4px solid #D96523;
    border-radius:10px;
    padding: 20px 100px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
}

div figure{
    text-align: center;
}

div figcaption{
    padding: 10px 0 20px 0;
}

figure a{
    padding:  10px;
    border-radius: 15px;
    background-color:#D96523;
    color: white;
    text-decoration: none;

}




/*Footer*/

footer{
    background-color: #FF8A00;
    padding: 10px;
}
footer section{
    display: flex;
    justify-content: space-around;
    align-items: center; 

}